{% extends 'enroll/base.html' %}
{% block content %}
   <div class="row">
     <div class="col-sm-4">
      <h4 class="text-center alert alert-info">Add New Employee</h4>
      <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-success" value="Add">  
    </form> 
     </div>

    <div class="col-sm-7 offset-1">
      <h4 class="text-center alert alert-info">Show Student Information</h4>
     {% if emp %}

     <table class="table table-hover">
      <thead>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
      </thead>
      <tbody>
          {% for em in emp%}
        <tr>
          <th scope="row">{{em.id}}</th>
          
          <td>{{em.name}}</td>
          <td>{{em.email}}</td>
          <td>{{em.password}}</td>
          <td><a href="{% url 'editdata' em.id %}" class="btn btn-warning btn-sm">Edit</a>
          <form action="{% url 'deletedata' em.id %}" method="POST" class="d-inline">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger" value="Delete">
          </form>
          </td>
          

        </tr>
        {% endfor %}
      </tbody>
    </table>

     {% else %}
     {% endif %}
    
    </div>

    </div>       
{% endblock content %}
