<script>
    $("#btnsave").click(function (){
        //console.log("Save Button Clicked");
    output = "";
    let sid= $("#empid").val();
    let nm= $("#nameid").val();
    let em= $("#emailid").val();
    let pw= $("#passwordid").val();
    let csrf = $("input[name=csrfmiddlewaretoken").val();
    if(nm==""){
        console.log("Please enter name");
    } else if(em==""){
        console.log("Please enter email");
    } else if (pw==""){
        console.log("Please enter password");
    } else{
        //console.log(nm);
        //console.log(em);
        //console.log(pw);
        mydata = {empid: sid, name:nm, email:em, password:pw, csrfmiddlewaretoken:csrf};
        $.ajax({
            url:"{% url 'save' %}",
            method:"POST",
            data: mydata,
            success:function(data){
               // console.log(data.status);
               x=data.employee_data;
               if(data.status == 'Save'){
                   $('#msg').text("Form submitted successfully");
                   $("#msg").show();
               //console.log("Form submitted successfully");
               //console.log(x);
               for(i=0; i<x.length; i++){
                   output += "<tr><td>" +  x[i].id +  "</td><td>" +    x[i].name + "</td><td>" +   x[i].email +  "</td><td>" + x[i].password +  "</td><td> <input type='button' class='btn btn-warning btn-sm btn-edit' value='Edit' data-sid="+  x[i].id +  "> <input type='button' class='btn btn-danger btn-sm btn-del'  data-sid=" + x[i].id +  " value='Delete' >";
               }
                $("#tbody").html(output)
                $("#empid").val("");
                $("form")[0].reset();
            }
            if(data.status == 0){
                $('#msg').text("Unable to save data");
                $("#msg").show();
                //console.log("Unable to submit");
                $("#empid").val("");
                $("form")[0].reset();
            }
            },
        });
    }
    
});



$("tbody").on("click", ".btn-del", function(){
    console.log("Delete button")
    let id = $(this).attr("data-sid")
    let csrf = $("input[name=csrfmiddlewaretoken").val()

    console.log(id)
    mydata = {sid:id}
    mythis = this
    $.ajax({
        url: "{% url 'delete' %}",
        method: "POST",
        data: {sid: id, csrfmiddlewaretoken: csrf},
        success:function(data){
            console.log(data)
        if (data.status == 1){
            //console.log('Deleted Successfullyy')
            $('#msg').text("Data Deleted successfully");
            $("#msg").show();
            $(mythis).closest("tr").fadeOut();
        }
        if (data.status == 0){
            //console.log('Not Deleted Successfullyy')
            $('#msg').text("Unable Deleted Data");
            $("#msg").show();
        }
        },
    });
});


$("tbody").on("click", ".btn-edit", function(){
   // console.log("Edit button clicked")
    let id = $(this).attr("data-sid")
    let csrf = $("input[name=csrfmiddlewaretoken").val()
    //console.log(id)
    mydata = {sid:id, csrfmiddlewaretoken: csrf};
    $.ajax({
        url: "{% url 'edit' %}",
        method: "POST",
        data: mydata,
        dataType: "json",
        success:function(data){
          //  console.log(data)
            $("#empid").val(data.id);
            $("#nameid").val(data.name);
            $("#emailid").val(data.email);
            $("#passwordid").val(data.password);
        },
    });
});


</script>