{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>django Ajax CRUD</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-5"> 
            <h2 class="text-center alert alert-danger">Django Function based view Ajax Crud </h2>
            <div class="row">
                <div class="col-sm-4">
                    <h4 class="text-center alert alert-info"> Add/Update Employee</h4>
                
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="empid" id="empid"/>
                {{form.as_p}}
                <input type="button" class= "btn btn-success" id = "btnsave" value="Save">
            </form>
            <div id="msg" class="alert alert-danger" style="display: none"></div>
        </div>
        <div class="col-sm-7">
            <h2 class="text-center alert alert-info">Show Employee Information </h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>      
                <tbody id = "tbody">
                        {% for em in employee %}
                      <tr>
                        <td>{{em.id}}</td>         
                        <td>{{em.name}}</td>
                        <td>{{em.email}}</td>
                        <td>{{em.password}}</td>
                        <td> <input type="button" data-sid="{{em.id}}" class="btn btn-warning btn-sm btn-edit" value="Edit" />
                        </td>
                        <td> <input type="button" data-sid="{{em.id}}" class="btn btn-danger btn-sm btn-del" value="Delete" />
                        </td>
                        </tr>
                            {% endfor %}
                    </tbody>
                </table> 
        </div>
        </div>
    </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="{% static 'enroll/js/jquery.js' %}"></script>
        {% include "enroll/ajax.html" %}
    </body>
</html>